/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/raleway-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}
/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}
/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}
/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}
  /* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}
:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --dark-title-color: #212121;
    --light-title-color: #ffffff;
    --text-color: #757575;
    --accent-color: #2196F3;
    --footer-background-color: #2F303A;}
    /* --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --background-color-main: #e5e5e5;
    --background-color-grey: #f5f4fa;
    --background-color-transparent: 47, 48, 58, 0.8);
    --background-color-footer: #2f303a;
    --text-color-main: #757575;
    --text-color-dark: #212121;
    --text-color-white: #ffffff;
    --text-color-transparent: rgba(255, 255, 255, 0.6);
    --logo-color-black: #000000;
    --logo-color-white: #ffffff;
    --accent-color: #2196f3;
    --social-icon-link: #afb1b8;
    --border-bottom-color: #ececec;
    --border-footer-color: rgba(255, 255, 255, 0.1);
    --border-clients-color: #afb1b8;
    --border-team-color: #eeeeee;} */
html {
    box-sizing: border-box;}
*,
*:before,
*:after {
    box-sizing: inherit;}
body {
    font-family: var(--main-font);
    font-size: 14px;
    background-color: var(--background-color-main);
    color: var(--text-color-dark);}
    img {
        display: block;
    }
.link {
    text-decoration: none;
    display: block;}
    .current {
        text-decoration: none;}
.list {
    list-style: none;
    padding: 0;
    margin: 0;}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;}
.section {
    padding: 94px 0;
    text-align: center;
    }
/* index.html */
/* header */
.header .container {
    display: flex;
    align-items: center;}
.navigation {
    display: flex;
    align-items: center;}
.logo {
    margin-right: 85px;}
.logo,
.logo-first-part {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 24px;}
.logo-first-part {
    color: #2196F3;}
.navigation-list {
    display: flex;}
.navigation-item:not(:last-child) {
    margin-right: 50px;}
.header-contacts {
    margin-left: auto;}
.header-contacts-list {
    display: flex;}
.header-contacts-item


.header-contacts-item:not(:last-child) {
    margin-right: 50px;}
.navigation-item-title,
.header-contacts-item-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;}
.navigation-item-title,
.header-contacts-item-title {
    padding-top: 32px;
    padding-bottom: 32px;}
.header-contacts-item-title {
    font-style: normal;
    color: #757575;}
.navigation-item-title:hover,
.navigation-item-title:focus,
.header-contacts-item-title:hover,
.header-contacts-item-title:focus {
    color: var(--accent-color);}
.navigation-item-title.current {
        color: var(--accent-color);}
/* main */
/* hero-section */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/hero.jpg);}
.main-title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-title-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;}
.modal-button {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #ffffff;
    display: block;
    padding-top: 10px;
    padding-left: 32px;
    padding-bottom: 10px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-style: unset;}
.modal-button:hover,
.modal-button:focus {
    background-color: #ffffff;
    color: #2196F3;}
/* advantages-section */
.advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;}
.advantages-section-list {
    display: flex;}
.advantages-section-list-item {
    width: 270px;
    height: 251px;}
.advantages-section-list-item:not(:last-child) {
    margin-right: 30px;}
.advantages-section-item-image {
    display: block;
    width: 270px;
    height: 120px;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;}
.advantages-section-item-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;}
.advantages-section-item-description {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);}
/* activities-section */
.activities-section {
    margin-bottom: 94px;}
.activities-section-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--dark-title-color);
    text-align: center;
    margin-bottom: 50px;}
.activities-section-list {
    display: flex;}
.activities-section-list-item {
    width: 370px;
    height: 294px;}
.activities-section-list-item:not(:last-child) {
    margin-right: 30px;}
.activities-section-list-item-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    text-align: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;}
/* team-section */
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;}
.team-section-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--dark-title-color);
    text-align: center;
    margin-bottom: 50px;}
.team-section-list {
    display: flex;
    margin-bottom: 94px}
.team-section-list-item {
    padding-bottom: 24px;
    background: #ffffff}
.team-section-list-item-image {
    display: block;
    margin-bottom: 30px;}
.team-section-list-item:not(:last-child) {
    margin-right: 30px;}
.team-section-list-item-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
    text-align: center;}
.team-section-item-description {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
    text-align: center;}
.team-section-social-links-list {
    display: flex;
    width: 206px;
    height: 44px;;
    justify-content: space-around;}
.team-section-social-links-list-item:not(:last-child) {
    margin-right: 10px;}
/* clients-section */
.clients-section {
    padding-top: 94px;
    padding-bottom: 94px}
.clients-section-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--dark-title-color);
    text-align: center;
    margin-bottom: 50px;}
.clients-section-list {
    display: flex;
    justify-content: center;}
.clients-section-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;}
.clients-section-list-item:not(:last-child) {
    margin-right: 30px;}
/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;}
/* footer-contacts-block */
.footer-contacts-block {
    margin-right: 69px;}
.footer-contacts-block a.logo {
    margin: 0;}
.footer-contacts {
    width: 230px;
    margin-top: 20px;
    color: var(--light-title-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}
.footer-contacts-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;}
.footer-contacts-list:not(:last-child) {
    margin-right: 10px;}
.footer-contacts-list-item-title-address {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;}
.footer-contacts-list-item-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
/* footer-social-links-list-block */
.footer-social-links-list-block {
    display: flex;
    align-items: center;
    margin-right: 94px;}
.footer-social-links-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 44px;
    border-radius: 50%;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.footer-social-links-list-item-link:hover,
.footer-social-links-list-item-link:focus {
    background-color: var(--accent-color);
    background-size: 44px;
    border-radius: 50%;}
.footer-social-links-list-item-image {
    width: 20px;
    height: 20px;
    fill: var(--light-title-color);}
.footer-contacts-list-item {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
    display: column;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.footer-contacts-list-item:not(:last-child) {
    margin-bottom: 9px;}
.footer-contacts-list-item:hover,
.footer-contacts-list-item:focus {
    color: var(--accent-color);}
.footer-social-links-list-title {
    display: block;
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--light-title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;}
/* footer-subscription */
.action-email {
    height: 50px;
    width: 354px;
    padding: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--footer-background-color);}
.action-email:not(:placeholder-shown):focus {
    background-color: var(--footer-background-color);
    color: rgba(255, 255, 255, 0.6);}
.footer-subscription-input {
    display: inline-block;}
.footer-subscription .subscription-button {
    position: relative;
    height: 50px;
    text-align: left;
    padding-left: 29px;}
.footer-subscription-image-send {
    position: absolute;
    right: 28px;
    bottom: 13px;
    height: 24px;
    width: 24px;
    fill: var(--light-title-color);}
.subscription-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 0;
    color: var(--light-title-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;}

/* portfolio.html */
/* main */
.button-filter {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;}
/* examples-filters-section */
.examples-filters-section .section {
    padding-top: 93px;
    padding-bottom: 94px;}
.examples-filters-section-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;}
.examples-filters-section-item .button-filter {
    padding-top: 6px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;}
.examples-filters-section-item:not(:last-child) {
    margin-right: 8px;}
.button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--filter-btn-white-theme-color);
    background: #f5f4fa;
    border-radius: 4px;
    border: none;}
.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--light-title-color);}
/* examples-section */
.examples-section-list {
    display: flex;
    flex-wrap: wrap;}
.examples-section-item {
    display: block;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.examples-section-item:nth-child(3n) {
    margin-right: 0;}
.examples-section-item:nth-last-child(-n + 3) {
    margin-bottom: 0;}
.examples-section-item-details{
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;}
.examples-section-item .examples-section-item-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #212121;
    margin-bottom: 4px;}
.examples-section-item .examples-section-item-type {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--text-color);}
.examples-section-item-description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}