// Features

.feature-list {
  .icon-wrap {
    @include flex();
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-white-color;

    border-radius: 4px;
  }

  .title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    > .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

// Media 768px

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;

    @media screen and (max-width: 1199px) {
      > .item {
        width: calc((100% - 30px) / 2);
      }

      > .item:not(:nth-child(2n)) {
        margin-right: 30px;
      }

      > .item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }
}

// Media 1200px

@media screen and (min-width: 1200px) {
  .feature-list > .item:not(:last-child) {
    margin-right: 30px;
  }

  .feature-list .title {
    text-align: start;
  }
}