// Form

.form-field {
  display: block;
  position: relative;

  margin-bottom: 28px;

  .form-label {
    position: absolute;
    top: 50%;
    left: 42px;

    transform: translateY(-50%);
    @include transition(transform);

    line-height: 1.14;
    letter-spacing: 0.01em;
    color: $primary-text-color;

    &:hover {
      cursor: auto;
    }
  }

  // Input

  .form-input {
    width: 100%;
    height: 40px;
    padding: 0 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 0;

    &:not(:placeholder-shown) ~ .icon-wrap .icon {
      fill: $accent-color;
    }

    &:not(:placeholder-shown) + .form-label {
      font-size: 12px;
      line-height: 1.17;

      transform: translate(-26px, -39px);
      color: $accent-color;
    }
  }

  // Icon

  .icon-wrap {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);

    display: flex;
    fill: $secondary-text-color;

    .icon {
      fill: $secondary-text-color;
      @include transition(fill);
    }
  }

  &:focus-within .icon {
    fill: $accent-color;
  }

  &:focus-within > .form-label {
    font-size: 12px;
    line-height: 1.17;

    transform: translate(-26px, -39px);
    color: $accent-color;
  }
}

// Textarea

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 10px 15px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;

  @include transition(border-color);

  &:focus::placeholder {
    opacity: 0;
  }
}

// Checkbox

.checkbox-field {
  @include flex();
  margin-bottom: 30px;
  cursor: pointer;

  .checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:focus + .checkbox-icon {
      border-color: $accent-color;
    }
  }

  .checkbox-input:checked + .checkbox-icon {
    border-color: transparent;
    background-color: #2196f3;
    background-image: url("../images/icon-checked.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
  }

  .checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8.4px;

    border: 2px solid black;
    border-radius: 2px;

    transition: background-color 150ms $timing-function,
      border-color 150ms $timing-function;
  }

  &:hover .checkbox-icon {
    border-color: $accent-color;
  }

  .checkbox-label {
    line-height: 1.17;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }

    > .ladel-link {
      color: $accent-color;
      letter-spacing: 0.03em;
    }
  }
}

// Submit

.form-submit {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: $primary-white-color;
  background-color: $accent-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// Media 1200px

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
  }
}
