// base

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: $color-text-primary;
  background-color: rgb(255, 255, 255);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title {
  margin: 0;
}

p {
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}
