// Font

$logo-font: "Raleway", sans-serif;
$primary-font: "Roboto", sans-serif;

// Color

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-white-color: #f5f4fa;
$primary-grey: #afb1b8;
$secondary-grey: rgba(255, 255, 255, 0.6);

// /* logo #2196F3 #000000 */
// /* цвет основного текста #757575 */
// /* Вторичный цвет текста #212121 */
// /* Акцент #2196F3 */
// /* Должности, Адрес rgba(255, 255, 255, 0.6) */

// Animation

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
