//variables

// font

$font-logo: "Raleway", sans-serif;
$font-primary: "Roboto", sans-serif;

// color

$color-text-primary: #757575;
$color-text-secondary: #212121;
$color-accent: #2196f3;
$color-white-primary: rgb(255, 255, 255);
$color-white-secondary: #f5f4fa;
$color-grey-primary: #afb1b8;
$color-grey-secondary: rgba(255, 255, 255, 0.6);

// animation

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
